.tweet-panel {
    background-color: #E8F5FD;
}

.tweet-input {
    background-color:#E8F5FD;
    color: #6c757d
}
.tweet-input:focus {
    background-color:#E8F5FD;
    border-bottom: 1px solid #0084b4;
}

.who__follow-content {
    background-color: #fff;
}

#add-tweet {
    border-radius: 50px;
    width: 100px;
}

@media (max-width: 768px) {
    .min-profile {
        display: none;
    }
}

@media (max-width: 1199px) and (min-width: 769px){
    .who__follow {
        display: none;
    }
}

.tweet-form {
    background-color: transparent;
    border: none;
    border: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
  }
